/************
  Created by Massimo Di Pierro
  Stupid.css is what the names says, take it with a grain of salt
  License: BSD
************/

/* container for all */
#container {
    height: 100%;
    width: 100%;
    position: absolute;
}


/* Header and footer sylize */
#header {
    position:absolute;
    top: 0px;
    height: 55px; 
    width: 100%;
    background: #002D58;
}

#footer {
    position:absolute;
    bottom: 0px;
    height: 55px; 
    width: 100%;
    background: #002D58;
}

/* Content Body */

/* main_title / polar bear one */
#content{
    background: #FF0000;
    height: 100%;
    width: 100%;
}
